## List

### What is a List? 

It is data structure in Python and is used to store a multiple values of different types. Lists are collections of
items (strings, integers, or even other lists).



Each item in the list has an assigned index value.Lists are enclosed in [ ].



Each item in a list is separated by a comma. 


#### Note :  Unlike strings, lists are mutable, which means they can be changed.

### How to create the list

In [1]:
# empty list
l=[]
print(l)

[]

In [2]:
### Homogeneous list

l1=[1,2,3,4]
print(l1)

[1, 2, 3, 4]

In [3]:
### hetrogeneous list

l1=["abc",1,2.3,(6+8j)]
print(l1)

['abc', 1, 2.3, (6+8j)]

In [4]:
### nested list

In [5]:
l=[[[1,2],[40,50]],[[4,5],[100,200]]]
l

[[[1, 2], [40, 50]], [[4, 5], [100, 200]]]

In [6]:
l2=[[1,2,3],[3,4,5]]  ## 2d list
print(l2)

[[1, 2, 3], [3, 4, 5]]

In [7]:
l3=[12,3,[4,5,6]]
print(l3)

[12, 3, [4, 5, 6]]

In [8]:
l4=[[[1,2,3],[4,5,6]],[[7,8,9],[9,8,6]]]  ## 3d list
print(l4)

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [9, 8, 6]]]

In [9]:
## using list constructor : type conversion
l=list("123")
print(l)

['1', '2', '3']

### Accessing the elements of list : indexing  and slicing

In [10]:
l=[1,2,3,"madrid","hello"]
l[1]

2

In [11]:
l[-1]

'hello'

In [12]:
l[2:5]

[3, 'madrid', 'hello']

In [13]:
l[0:5:2]

[1, 3, 'hello']

### fetching the elements from nested list

In [14]:
l=[1,2,3,"madrid","hello",[48,98,87,"abc"]]
## fetch 98

l[5][1]

98

or

In [15]:
l=[1,2,3,"madrid","hello",[48,98,87]]
## fetch 98

l[-1][1]

98

In [16]:
l1=[1,2,3,"madrid","hello",[48,98,87,100,110]]
## fetch 98

l1[5][0:3]
l1[3][1]

'a'

In [17]:
### fetch  18

In [18]:
l4=[[[1,2,3],[4,5,6]],[[7,8,9],[19,18,16]]]  ## 3d list
l4[1][1][1]

18

### list hold mutable property

In [19]:
l=[1,2,3,4,5]
l[-1]=56  ### unlike string , it works since it is mutable
print(l)

[1, 2, 3, 4, 56]

In [20]:
l[1:3]=[43,56]  ## add elements 43 and 56 at ist and 2nd indexing
print(l)

[1, 43, 56, 4, 56]

### How to add elements at the end  : using append()

In [21]:
l=[1,2,3,45]
l.append("100")
l

[1, 2, 3, 45, '100']

In [22]:
l=[2,3,4,5,6]
l.append("hello")
print(l)

[2, 3, 4, 5, 6, 'hello']

In [23]:
start=int(input("enter the start"))
end=int(input("enter the end"))
l=[]
for i in range(start,end+1):
    l.append(i)
    print(i)

enter the start5
enter the end8
5
6
7
8

### How to add multiple elements at the end : using extend()

In [24]:
l1=[1,2,3,6]
l2=["software","madrid"]
l1.extend(l2)
print(l1)

[1, 2, 3, 6, 'software', 'madrid']

In [25]:
l1

[1, 2, 3, 6, 'software', 'madrid']

In [26]:
l1.extend("hello")  ## first convert hello into list of leeters then add 
print(l1)

[1, 2, 3, 6, 'software', 'madrid', 'h', 'e', 'l', 'l', 'o']

In [27]:
l1.append([3,6])
print(l1)

[1, 2, 3, 6, 'software', 'madrid', 'h', 'e', 'l', 'l', 'o', [3, 6]]

### How to add elements at desired location

In [28]:
L1=[2,3,4,56,7]
L1.insert(2,"madrid")  ## at index 2 insert madrid
print(L1)

[2, 3, 'madrid', 4, 56, 7]

### How to delete the element from the list

- del
- remove
- pop

## delete whole list

In [32]:
l=[1,2,3,4,5]
del l

## delete particular element based on index

In [33]:
l=[100,200,300,400]
print(l)
del l[2]
print(l)

[100, 200, 300, 400]
[100, 200, 400]

In [34]:
del l[1:3]
print(l)

[100]

In [35]:
l=[1,2,3,4,5]
a=l.pop()## deletes last element by default and return pooped element
print(a)
print(l)

5
[1, 2, 3, 4]

In [36]:
l=[23,45,6,7,"hello"]
#l.pop()
l.pop()

'hello'

In [37]:
l

[23, 45, 6, 7]

In [38]:
l.pop()

7

In [39]:
l

[23, 45, 6]

In [40]:
l=[1,2,3,4,5,6]
for i in range(0,5):
    l.pop()
    print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

### Delete the particular element without knowing its index  : using remove

In [41]:
l=[200,400,3,1000]

In [42]:
l.remove(3)  ## remove 3
print(l)

[200, 400, 1000]

In [43]:
l.remove("k")

ValueError: list.remove(x): x not in list

### how to clear all the elements of list : empty list --- using clear()

In [45]:
l.clear()
print(l)

[]

### list operations

1- concatenation

2- replication

3-membership opertors : in and not in

In [46]:
l=[1,2,3]+[200,400]
print(l)

[1, 2, 3, 200, 400]

In [47]:
l=[1,2,3]*5
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

membership opertors : in and not in

In [48]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
l1=[1,2,3,[45,67]]
[45,67] in l1  ##

True

### Functions 

1- min(common)

2- max(common)

3- len(common)

4- sorted(common)

------------------------------------------------------
1. reverse()

2. count()

3. sort()

4. append()

5. clear()

6. extend()

7. index()

8. insert()

9. pop()

10. remove()

In [50]:
l=[100,400,200]
len(l)

3

In [51]:
l=[100,400,200]
max(l)

400

In [52]:
s="madrid"
max(s)

'r'

In [53]:
l=[200,300,400,100]
sorted(l)

[100, 200, 300, 400]

In [54]:
l.sort(reverse=True)
l

[400, 300, 200, 100]

In [55]:
s="madrid"
sorted(s)

['a', 'd', 'd', 'i', 'm', 'r']

In [56]:
l

[400, 300, 200, 100]

In [57]:
s="madrid"
sorted(s,reverse=True)

['r', 'm', 'i', 'd', 'd', 'a']

In [58]:
l=[100,400,200]
min(l)

100

In [59]:
l=[100,400,200,"balmeet"]
min(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [60]:
l=["aabbcc","hello","abc","balmeet"]
min(l)  ## based on lexiographic

'aabbcc'

### Difference between sorted and sort 

sorted creates new list 

while sort does not `

In [61]:
s="hello"
sorted(s)

['e', 'h', 'l', 'l', 'o']

In [62]:
l=[20,90,100,43]
l1=sorted(l,reverse=True) ## create a  new list
print(l)
print(l1)

[20, 90, 100, 43]
[100, 90, 43, 20]

In [63]:
l=[200,300,400,100]
l2=l.sort(reverse=True)  
print(l2)   
print(l)

None
[400, 300, 200, 100]

In [64]:
l=[-1,56,87]
l.reverse()
print(l)

[87, 56, -1]

In [65]:
L=["M","MEET","meet","preet","MEET"]
L.count("MEET")

2

### iteration on list

In [66]:
l1=[1,2,3,[45,67]]
for i in l1:
    print(i)

1
2
3
[45, 67]

In [67]:
l1=["he","we ","py"]
l2=["re","learn","on"]
l=["here","helearn","heon","we re","we learn","we on","python","pylearn","pyon"]

In [68]:
l=[]
for i in l1:
    for j in l2:
        l.append(i+j)
print(l)

['here', 'helearn', 'heon', 'we re', 'we learn', 'we on', 'pyre', 'pylearn', 'pyon']

In [69]:
l1=["he","we ","py"]
l2=["re","learn","ton"]
l=["here","we learn","python"]

In [70]:
l1=[1,2,3,4,5]
l2=["one","two","three","four","five"]
list(zip(l1,l2))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [71]:
s1="python"
s2="core"
l1=list(zip(s1,s2))
print(l1)
l1[2][0]

[('p', 'c'), ('y', 'o'), ('t', 'r'), ('h', 'e')]

't'

### List comprehensions

### List comprehensions are used for creating new lists from other iterables like tuples, strings,arrays, lists, etc. 


List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.



Syntax:
newList = [ expression(element) for element in oldList if condition ]

In [72]:
[i if i%2==0 else "odd "for i in range(1,10) ]

['odd ', 2, 'odd ', 4, 'odd ', 6, 'odd ', 8, 'odd ']

In [73]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### create a square list of given list [2,3,4,5,67,100]

In [74]:
l1=[2,3,4,5,67,100]
square = []
for x in l1:
    square.append(x**2)
print(square)

[4, 9, 16, 25, 4489, 10000]

above question using list comprehension

In [75]:
l1=[i*i for i in l1]
print(l1)

[4, 9, 16, 25, 4489, 10000]

### square of all odd numbers from range 1 to 10 using list comprehension

In [76]:
odd_square = []
for x in range(1, 11):
    if x % 2 == 1:
        odd_square.append(x**2)
print(odd_square)

[1, 9, 25, 49, 81]

In [77]:
# below list contains square of all odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 !=0]
print(odd_square)

[1, 9, 25, 49, 81]

In [78]:
# below list contains square of all odd numbers from range 1 to 10
odd_square = [x ** 2 if x % 2 !=0 else "" for x in range(1, 11) ]
print(odd_square)

[1, '', 9, '', 25, '', 49, '', 81, '']

l=[[2,3,4],[5,6,7],[8,9,0]]

fetch [5,6,7] using list comprehension

In [79]:
l=[[2,3,4],[5,6,7],[8,9,0]]
l[1]

[5, 6, 7]

In [80]:
["yes it is present" for i in l if i==[5,6,7]]

['yes it is present']

In [81]:
l=[[2,3,4],[5,6,7],[8,9,0]]
l1= [ i for i in l if i==[5,6,7]]

why getting 2 brackets because list comprehension returns the list which contains element [5,6,7] itself a list

### Take 10 integer inputs from user and store them in a list and print them on screen.

### Take 10 integer inputs from user and store them in a list. Again ask user to give a number. Now, tell user whether that number is present in list or not.
( Iterate over list using while loop )

In [84]:
l=[]
flag=0
for i in range(1,10):
    l=int(input("enter the number"))
    l.append(i)
print(l)
element=int(input("enter the number to be searched"))
for j in l:
    if j==element:
        flag=1
if flag==1:
    print("the element is present")
else:
    print("not presenrt")

enter the numberpooja

ValueError: invalid literal for int() with base 10: 'pooja'

###### Take 10 integer inputs from user and store them in a list. Now, copy all the elements in another list but in reverse order.

### Take a list of 10 elements. Split it into middle and store the elements in two dfferent lists. E.g.-

### Ask user to give integer inputs to make a list. Store only even values given and print the list.

### WAP to print those fruits which startswith a using list comprehension

###  Write a Python program to remove duplicates from a list.

In [ ]:
fruits=["apple","avacado","kiwi","cherry"]
[ fruit for fruit in fruits if fruit.startswith("a")]

### WAP to check whether thr number id palindrome or not

In [85]:
num=int(input("enter the number :  "))
sum=0
n1=num
while n1>0:
    r=n1%10
    n1=n1//10
    sum=sum*10+r
print("the reverse of {} is {}".format(num,sum))
if(num==sum):
    print("the entered number is palindrome")
else:
    print("not palindrome")

enter the number :

ValueError: invalid literal for int() with base 10: ''

### wao to display samllest in list

In [86]:
l=input("enter the numbers in list").split(",")
smallest=l[0]
for i in l[1:]:
    if i<smallest:
        smallest=i
print(smallest)

enter the numbers in list

### wap to display the reverse of list of numbers

### wap to display the cube of all elements of nested list

In [ ]:

l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l=[l1,l2,l3]
final_l=[]
print(l)
for i in range(0,3):
    for j in range(0,3):
        a=l[i][j]**3
        print(a)
        final_l.append(a)
print("the final list is : ",final_l)

### wap to remove duplicants

In [ ]:
l1=[1,2,3,4,4,5,6,7,7,8,7]
l1.remove(7)
l1

In [ ]:
l=[1,2,7,3,4,4,5,6,7,8,7]
el=int(input("enter the element to be removed"))
for i in l:
    print("i-----",i)
    if i==7:
        print(i)
        l.remove(i)
print(l)

###  wap to display the sqaure of even numbers else cube of list using list comprehension

In [ ]:
l=[2,3,4,5,6]
l1=[i**2 if i%2==0 else i**3  for i in l]
print(l1)

## list questions:

In [ ]:
'''
given : l=[["abc","def","ghs"],[1,2,3,4,5]]
wap to return the length of the element in list if the element is string and return square if element is number
'''

l=[["abc","def","ghs"],[1,2,3,4,5]]
for i in l:
    for j in i:
        if type(j)==str:
            print("the length of the string is :  ", len(j))
        elif type(j)==int:
            print("the square of the number is : ", j**2)

In [ ]:
'''we have a list of party attendees according to their time of reaching venue means  "adela" reached to the party
early than "fleda" and golu came at last and so on 
a guest is considered "fashionably late" if they arrived after at least half of the part's guest .
however, they must no be very last guest(that is taking too far). 
in this mona nd gilbert are the only guest who were fashionably late.

guest_list=["adela","fleda","owen", "may","mona","gilbert", "ford", "golu"]

'''
guest_list=["adela","fleda","owen", "may","mona","gilbert", "ford", "golu"]
number_half_party_guest=len(guest_list)/2
print(number_half_party_guest)
for i in range(0,len(guest_list)-1):
    if i>=number_half_party_guest:
        print("the fashionalbly guest are :", guest_list[i])

### Write a program to print all the numbers in a list whose all digits are div by 2 and the range is 100 to 400.

#### '''Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
["red","pink","yellow"] and also print the removed element as well in list
'''

In [ ]:
'''Wap to remove the elements from the list based on the user entered element
'''
s=int(input("enter the size of the list"))
l=[]
flag=0
for i in range(0,s):
    e=int(input('enter the element in the list \n '))
    l.append(e)
print("the list is :",l)
search_element=int(input("enter the search element  "))
for ch in l:
    if ch==search_element:
        l.remove(ch)
        flag=1
if flag==0:
    print("the searched element is not found in the list ")
else:
    print("the list after removing searched element is  ", l)

In [ ]:
'''wap to remove the element at a particular index  based on the  index value given by user and display removed element and 
updated list after removing elements'''
s=int(input("enter the size of the list"))
l=[]
popped_list=[]
for i in range(0,s):
    e=int(input('enter the element in the list \n '))
    l.append(e)
print("the list is :",l)
while True:
    index=int(input("enter the index value to remove particular element in the list  "))
    if index>len(l)-1:
        print("index out of range")
        break
    else:
        popped_list.append(l.pop(index))
        choice=input("you want to remove more elements say yes or no")
        if choice=="yes":
            continue
        else:
            break
print("the popped list ",popped_list)
print("the final list after removing elements ",l)

In [ ]:
# you need to fetch the strings in the given list into new list
s = [["the",1,2],[3,4,"python"],["is","fun",1,2,3]]
l1=[]
for i in range(0,3):
    for j in range(0,3):
        if type(s[i][j])==str:
            l1.append(s[i][j])
print(l1)

### Write a Python program to Zip two given lists of lists. Go to the editor

 
Original lists:
[[1, 3], [5, 7], [9, 11]]

[[2, 4], [6, 8], [10, 12, 14]]

Zipped list:

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [ ]:
l1=[1,2,3]
l2=["one","two","three"]
zip(l1,l2)

In [ ]:
l1=[1,2,3]
l2=["one","two","three","four"]
zip(l1,l2)

In [ ]:
l1=[1,2,3,4]
l2=[100,200,300]
l3=["jj","uu","kk"]
list(zip(l1,l2,l3))

In [ ]:
l1=[1,2,3,4]
l2=[100,200,300]
l3=["jj","uu","kk"]
tuple(zip(l1,l2,l3))

In [ ]:
list(zip(l1,l2))

## How to flatten a list of lists with a list comprehension

In [ ]:
listnum = [[5,6,7,'C#'], ['C++',2,3]]
 
flatten_list = [ele for sublist in listnum for ele in sublist]
 
print('flatten list =',flatten_list)

In [ ]:
### How to Intersect two list
listnum = ['C++',2,3,6,7,5,'C#']
listnum1 = ['C++',5,6,7,'C#']
 
intersect_res = [item for item in listnum if item in listnum1]
 
print('intersect of two list =',intersect_res)

In [ ]:
## How to count the number of list in list of list.
lstlng = [[15, 78, 4],['C#',80,7],['Go','Rust','C++'],['Python',12]]
 
print('count of list of list = ',len(lstlng))

In [ ]:
l=[1,2,3,3,5,6,6]
unique_list=[]
for i in l:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

In [ ]:
ll=[10,10,10,20,30,40,20,60,10]
for i in ll:
    print(ll)
    print(i,"----")
    if i==10:
        print(i,"****")
        ll.remove(i)
        print("-----------\n",ll)
print(ll)

In [ ]:
def factorial(a):
    if a==1:
        return 1
    else:
        return(a*factorial(a-1))
input_num=5
print("Tha factorial of",input_num,"is",factorial(input_num))