In [32]:
'''
  *
 **
***
'''
row= int(input("enter the number of rows"))
space=row
for i in range(1,row+1):
    for j in range(1,space):
        print(end=" ")
    space=space-1
    for k in range(1,i+1):
        print("*",end="")
    print(end = "\n")

enter the number of rows5
    *
   **
  ***
 ****
*****

# # patterns :

# type 1:

In [36]:
'''
#####
#####
#####
##### '''
row=int(input("enter the no of rows"))
for i in range(1,row+1):
    for j in range(1,row+1):
        print("#", end="")
    print(end="\n")

enter the no of rows5
#####
#####
#####
#####
#####

In [8]:
row=int(input("enter the no of rows"))
num=int(input("enter the column number"))
for i in range(1,row+1):
    for j in range(1,num+1):
        print(j,end="")
    print("\n")

enter the no of rows7
enter the column number6
123456

123456

123456

123456

123456

123456

123456

In [41]:
'''
12345
12345
12345
12345
12345
12345
'''
row=int(input("enter the no of rows"))
for i in range(1,row+1):
    for j in range(1,row+1):
        print(j, end="")
    print(end="\n")

enter the no of rows4
1234
1234
1234
1234

In [43]:
'''
1 2 3 4 5
6 7 8 9 10
'''
row=int(input("enter the no of rows"))
k=1
for i in range(1,row+1):
    for j in range(1,row+1):
        print(k," ", end="")
        k=k+1
    print(end="\n")

enter the no of rows5
1  2  3  4  5
6  7  8  9  10
11  12  13  14  15
16  17  18  19  20
21  22  23  24  25

In [11]:
count=1
for i in range(1,6):
    
    for j in range(1,6):
        print(count,end=" ")
        count=count+1
    print("\n")

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

In [44]:
'''
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
'''
row=int(input("enter the no of rows"))

for i in range(1,row+1):
    k=i
    for j in range(1,row+1):
        print(k*j," ", end="")
        
    print(end="\n")

enter the no of rows5
1  2  3  4  5
2  4  6  8  10
3  6  9  12  15
4  8  12  16  20
5  10  15  20  25

In [ ]:
'''
1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 2 2 4 3 4
1 5 2 5 3 5'''
row=int(input("enter the no of rows"))
for i in range(1,row+1):
    k=i
    for j in range(1,row+1):
        print(k*j," ", end="")
        
    print(end="\n")

In [46]:
'''
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0'''
row=int(input("enter the no of rows"))
k=0
for i in range(1,row+1):
    for j in range(1,row+1):
        print(k," ", end="")
        k=int(not k)
        
    print(end="\n")

enter the no of rows5
0  1  0  1  0
1  0  1  0  1
0  1  0  1  0
1  0  1  0  1
0  1  0  1  0

In [47]:
'''
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
'''
row=int(input("enter the no of rows"))
k=0
for i in range(1,row+1):
    k=0
    for j in range(1,row+1):
        print(k," ", end="")
        k=int(not k)
        
    print(end="\n")

enter the no of rows5
0  1  0  1  0
0  1  0  1  0
0  1  0  1  0
0  1  0  1  0
0  1  0  1  0

In [4]:
chr(37)

'%'

In [7]:
ord("A")

65

In [49]:
'''
A F K P U
B G L Q V
C H M R W
D I N S X
E J O T Y'''
row=int(input("enter the no of rows"))
m=65
for i in range(1,row+1):
    k=m
    for j in range(1,row+1):
        print(chr(k)," ", end="")
        k=k+5
    m=m+1
        
        
    print(end="\n")

enter the no of rows5
A  F  K  P  U
B  G  L  Q  V
C  H  M  R  W
D  I  N  S  X
E  J  O  T  Y

# # Type 2 : patterns

In [50]:
'''
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1'''
row=int(input("enter the no of rows"))
k=row
for i in range(1,row+1):
    for j in range(1,i+1):
        print(k,end=" ")
    k=k-1
    print(end="\n")

enter the no of rows5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [52]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5'''
row=int(input("enter the no of rows"))
k=row

for i in range(1,row+1):
    m=k
    for j in range(1,i+1):
        print(m,end=" ")
        m=m+1
    k=k-1
    print(end="\n")

enter the no of rows5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [57]:
'''
1
1 2
2 3 4
4 5 6 7
7 8 9 10 11
'''
row=int(input("enter the no of rows"))
j=1
k=j
for i in range(1,row+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+1
    k=j
    print(end="\n")

enter the no of rows5
1
1 2
2 3 4
3 4 5 6
4 5 6 7 8

In [62]:
'''
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15
'''
row=int(input("enter the no of rows"))
k=1
for i in range(1,row+1):
    for j in range(1,i+1):
        x=4
        print(k,end=" ")
        m=k
        y=k
        x=x-1
    k=m+1
    print(end="\n")

enter the no of rows5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
'''
1
3 2
6 5 4
10 9 8 7
'''

In [63]:
'''
2
2 4
2 4 6
2 4 6 8
2 4 6 8 10
'''
row=int(input("enter the no of rows"))

for i in range(1,row+1):
    k=2
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+2
    print(end="\n")

enter the no of rows5
2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [64]:
'''
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
'''
row=int(input("enter the no of rows"))

for i in range(1,row+1):
    k=i
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+1
    print(end="\n")

enter the no of rows5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [65]:
'''
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25'''
row=int(input("enter the no of rows"))

for i in range(1,row+1):
    k=i
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+i
    print(end="\n")

enter the no of rows5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [70]:
'''
1 
6 2
10 7 3
13 11 8 4
15 14 12 9 5
'''
row=int(input("enter the no of rows"))
m=1
l=1
k=5
x=4
for i in range(1,row+1):
    m=l
    y=x
    for j in range(1,i+1):
        print(m,end=" ")
        m=m-y
        y=y+1
    x=x-1
    print(end="\n")
    l=l+k
    k=k-1

enter the no of rows5
1
6 3
10 8 5
13 12 10 7
15 15 14 12 9

In [76]:
'''
1
4 9
16 25 36
49 64 81 100
'''
row=int(input("enter the no of rows"))
count=1
for i in range(1,row+1):
    for j in range(1,i+1):
        k= count
        k=k*k
        print(k,end=" ")
       
        count=count+1
    print(end="\n")

enter the no of rows5
1
4 9
16 25 36
49 64 81 100
121 144 169 196 225

In [81]:
'''
1
1 2
3 5 8
13 21 34 55
89 144 233 377 610'''
row=int(input("enter the no of rows"))
a=0
b=1
c=0
for i in range(1,row+1):
    for j in range(1,i+1): 
        x=a
        a=b
        c=a+x
        print(c,end=" ")
        b=c
        
    print(end="\n")

enter the no of rows5
1
2 3
5 8 13
21 34 55 89
144 233 377 610 987

In [93]:
'''
0
1 0
0 1 0
1 0 1 0
0 1 0 1 0
'''
row=int(input("enter the no of rows"))
c=0
for i in range(1,row+1):
    for j in range(1,i+1):
        print(c,end=" ")
        c1=int(not c)
        c=c1
        #c=int(not c)
    x=int(not c)
    c=x
    print(end="\n")

enter the no of rows5
0
0 1
1 0 1
1 0 1 0
0 1 0 1 0

# #type 3 : patterns

In [95]:
'''
*****
****
***
**
*
'''
r= int(input("enter the number of rows"))
for i in range(1,r+1):
    for j in range(1,r+1):
        print("x",end=" ")
    r=r-1
    print(end="\n")

enter the number of rows5
x x x x x
x x x x
x x x
x x
x

In [109]:
'''
5 4 3 2 1
6 5 4 3
7 6 5
8 7
9
'''
r= int(input("enter the number of rows"))
x=r
m=r
for i in range(1,r+1):
    x=m
    for j in range(1,r+1):
        print(x,end=" ")
        x=x-1   
    m=m+1
    r=r-1
    print(end="\n")

enter the number of rows5
5 4 3 2 1
6 5 4 3
7 6 5
8 7
9

In [ ]:
'''
15 14 13 12 11
10 9 8 7
6 5 4
3 2 
1'''