### q.1 

### l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
### 1) arrange the list in alphabetical order 
### 2) count the total letters and count of distinct letters in the list

In [1]:

l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
l.sort()
print(l)

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [2]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
total_letter=0
distinct_letter=[]
for i in l:
    if i.distinct_letter():
         distict_letter+=1
print("total count of letter",letter)
print("totak count of distinct letter",distinct_letter)

AttributeError: 'str' object has no attribute 'distinct_letter'

### q.2
### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [3]:
tuple=(1,2,3,4,5,6,7,8,9,10)
tuple1=tuple[:5]
tuple2=tuple[5:]
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### q.3 
### a) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. 

### b) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'",1'2,22'4,"hi how'r u"]

## c) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 3, 5, 7, 9

In [4]:
list=[1,2,3,4,5,6,7,8,9,10]
odd_list = [i for i in list.split(',') if i % 2 != 0]
print((" ").join(odd_list))

AttributeError: 'list' object has no attribute 'split'

In [5]:
l=["hello'",1'2,22'4,"hi how'r u"]
list=[i.replace(",","") for i in l]
print(list)

SyntaxError: invalid syntax (596206640.py, line 1)

In [19]:
list=[1,2,3,4,5,6,7,8,9,10]
k =[i*i for i in l if i%2!=0]
print(k)

TypeError: not all arguments converted during string formatting

### q.4

### Find Longest String in List
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]

In [6]:
list1=["hello","madrid","hi how r u","i m doing good u tell","meet"]
for i in list1:
    if len(i)>11:
        print(i)

i m doing good u tell

### q.5

### Display the characters at an odd position in string input by User.

In [46]:
s=input("enter tha string")
odd_char=[]
for i in range(len(s)):
    if i%2!=0:
        odd_char.append(s[i])
    
print("odd character at odd postion",odd_char)

enter tha stringsolution
odd character at odd postion ['o', 'u', 'i', 'n']

### q.6

### Extract file name in this  /document/imp/salary.txt

### q.7
### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

In [20]:
x=34, 67, 55, 33, 12, 98
l

AttributeError: 'tuple' object has no attribute 'list'

### q. 8

### Write a program to display second largest element of the list entered by user

In [31]:
list1 = input("enter tha list")
 
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
    if list1[i] > mx:
        secondmax = mx
        mx = list1[i]
    elif list1[i] > secondmax and \
        mx != list1[i]:
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
    print("Second highest number is : ", secondmax)

enter tha list20,30,40,50
Second highest number is :  0
Second highest number is :  2
Second highest number is :  2
Second highest number is :  2
Second highest number is :  3
Second highest number is :  3
Second highest number is :  3
Second highest number is :  4
Second highest number is :  4

### q.9

### Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

In [ ]:
l=["abc","bac","abc","abb","abb","abb"]

### q.10
### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

In [11]:
import math
c=50
h=30
d=50
s=2*c*d/h
q=math.sqrt(s)
print(q)

12.909944487358056

### q.11
### wap to place "hello" at even index of string.

eg: string :  "madrid"

output:    helloahellorhellod

In [74]:
s="madrid"
for i in s:
    if i==i[0:5:1]:
        print("hello",end="")

hellohellohellohellohellohello

### q.12
## Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

## q.13
#### You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]